
/*헤더퍼온거*/
.header_g{
    display: flex;   

}

.header_btn{
    width: 100%;
}

.mainVisual {
    width: fit-content;
    margin: 0px auto;
}

.mainVisual .profile{
    display: flex;
    width: 600px;
    padding: 0 0 30px 0;
    border-bottom: 2px solid #ddd;
    justify-content: space-evenly;
    text-align: -webkit-center;
}

.profile_pic{
    border-radius: 50%;
}

.profile>.pic {
   margin-left: 6vh;
}

.profile .info {
 width : 300px;
}

.sub_btn_width{
	margin-top : 3%;
}

.profile .username {
    display: flex;
    margin: 0 0 5% 0;
}

.profile .username .name{
    display: flex;
    font-size: 1.7em;
    font-weight: 700;
    margin: auto;
    margin-left : 8%;
    margin-right: 10%;
}

.profile .username span{
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    color:rgba(14, 138, 41, 0.765);
    background-color: white;
    border: 1px solid rgba(14, 138, 41, 0.765);
    border-radius: 4px;
    padding: 5px 7px;
    margin: 0;
    width:max-content;
}



.subinfo {
    display: flex;
    margin: 0 auto;
}

.subinfo .con{
    margin: 0 auto;
    padding: 10px;
}

.subinfo .con h2 {
    margin: 0 0 10px 0;
}

.subinfo .con p {
    position: relative;
    text-align: center;
}

.a_font{
    color: black;
    text-decoration: none;
}



/* 탭 3개 */
.class_name2{
    display: flex;
    justify-content: center;
    }
    
    .g_column{
        width: 150px;
        text-align: center;
        color: black;
        text-decoration:none;      
    }
    
 .sub_msg_btn{
 	display: flex;	
 }
 
 #message_send_btn{
    color : rgba(14, 138, 41, 0.765);
	background-color : white;
	border-radius: 4px;
	padding : 5px;
    border: 1px solid rgba(14, 138, 41, 0.765);
   
 }
 
#message_send_btn:active{
	color:white;
	background-color : rgba(14, 138, 41, 0.765);
}

#subscrib_btn{
    color : rgba(14, 138, 41, 0.765);
	background-color : white;
	border-radius: 4px;
	padding : 5px;
    border: 1px solid rgba(14, 138, 41, 0.765);
}

#subscrib_btn:active{
	color:white;
	background-color : rgba(14, 138, 41, 0.765);
}
 

#msg_send_bt {
    color : rgba(14, 138, 41, 0.765);
	background-color : white;
	border-radius: 4px;
	padding : 5px;
    border: 1px solid rgba(14, 138, 41, 0.765);

}

#msg_close_bt{
    color : rgba(14, 138, 41, 0.765);
	background-color : white;
	border-radius: 4px;
	padding : 5px;
    border: 1px solid rgba(14, 138, 41, 0.765);

} 
 
