<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
     <servlet-name>Main</servlet-name>
     <display-name>Main</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.Main</servlet-class>
  </servlet>
  
  <servlet>
     <servlet-name>LoginService</servlet-name>
     <display-name>LoginService</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.LoginService</servlet-class>
  </servlet>
  
  <servlet>
     <servlet-name>JoinService</servlet-name>
     <display-name>JoinService</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.JoinService</servlet-class>
  </servlet>
  
  <servlet>
     <servlet-name>LogOutService</servlet-name>
     <display-name>LogOutService</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.LogOutService</servlet-class>
  </servlet>
  
  <servlet>
     <servlet-name>LikeSelectAll</servlet-name>
     <display-name>LikeSelectAll</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.LikeSelectAll</servlet-class>
  </servlet>
  
  <servlet>
     <servlet-name>PostWriteService</servlet-name>
     <display-name>PostWriteService</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.PostWriteService</servlet-class>
  </servlet>
 
  <servlet>
     <servlet-name>SubscriberService</servlet-name>
     <display-name>SubscriberService</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.SubscriberService</servlet-class>
  </servlet>
  
  <servlet>
     <servlet-name>PostViewService</servlet-name>
     <display-name>PostViewService</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.PostViewService</servlet-class>
  </servlet>
  
  <servlet>
     <servlet-name>CmtWriteService</servlet-name>
     <display-name>CmtWriteService</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.CmtWriteService</servlet-class>
  </servlet>
 
  <servlet>
     <servlet-name>PostModifyService</servlet-name>
     <display-name>PostModifyService</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.PostModifyService</servlet-class>
  </servlet>
  
  <servlet>
     <servlet-name>BoardSelect</servlet-name>
     <display-name>BoardSelect</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.BoardSelect</servlet-class>
  </servlet>
  
  <servlet>
     <servlet-name>BoardSelectService</servlet-name>
     <display-name>BoardSelectService</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.BoardSelectService</servlet-class>
  </servlet>
  
  <servlet>
     <servlet-name>UserInfoCheck</servlet-name>
     <display-name>UserInfoCheck</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.UserInfoCheck</servlet-class>
  </servlet>
  
  <servlet>
     <servlet-name>UpdateService</servlet-name>
     <display-name>UpdateService</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.UpdateService</servlet-class>
  </servlet>
  
  <servlet>
     <servlet-name>UserPicService</servlet-name>
     <display-name>UserPicService</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.UserPicService</servlet-class>
  </servlet>

   <servlet>
     <servlet-name>InfoUpdateService</servlet-name>
     <display-name>InfoUpdateService</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.InfoUpdateService</servlet-class>
  </servlet>

  <servlet>
       <servlet-name>SupportUpdateService</servlet-name>
       <display-name>SupportUpdateService</display-name>
       <description></description>
       <servlet-class>com.smhrd.controller.SupportUpdateService</servlet-class>
    </servlet>

    <servlet>
       <servlet-name>SupportDeleteService</servlet-name>
       <display-name>SupportDeleteService</display-name>
       <description></description>
       <servlet-class>com.smhrd.controller.SupportDeleteService</servlet-class>
    </servlet>

    <servlet>
       <servlet-name>SubscribeService</servlet-name>
       <display-name>SubscribeService</display-name>
       <description></description>
       <servlet-class>com.smhrd.controller.SubscribeService</servlet-class>
    </servlet>

  <servlet>
     <servlet-name>PointUpService</servlet-name>
     <display-name>PointUpService</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.PointUpService</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>LikeCheckService</servlet-name>
  	<display-name>LikeCheckService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LikeCheckService</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>LikeInsertService</servlet-name>
  	<display-name>LikeInsertService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LikeInsertService</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>LikeUpdate</servlet-name>
  	<display-name>LikeUpdate</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LikeUpdate</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>LikeCountService</servlet-name>
  	<display-name>LikeCountService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LikeCountService</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>MessageSelectAll</servlet-name>
  	<display-name>MessageSelectAll</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.MessageSelectAll</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>removeMessageService</servlet-name>
  	<display-name>removeMessageService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.removeMessageService</servlet-class>
  </servlet>
  
    <servlet>
  	<servlet-name>SubCheckService</servlet-name>
  	<display-name>SubCheckService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.SubCheckService</servlet-class>
  </servlet>
     
  
  <servlet-mapping>
     <servlet-name>Main</servlet-name>
     <url-pattern>/Main</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
     <servlet-name>LoginService</servlet-name>
     <url-pattern>/LoginService</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
     <servlet-name>JoinService</servlet-name>
     <url-pattern>/JoinService</url-pattern>
  </servlet-mapping>
  
 <servlet-mapping>
     <servlet-name>LogOutService</servlet-name>
     <url-pattern>/LogOutService</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
     <servlet-name>LikeSelectAll</servlet-name>
     <url-pattern>/LikeSelectAll</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
     <servlet-name>PostWriteService</servlet-name>
     <url-pattern>/PostWriteService</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
     <servlet-name>SubscriberService</servlet-name>
     <url-pattern>/SubscriberService</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
     <servlet-name>PostViewService</servlet-name>
     <url-pattern>/PostViewService</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
     <servlet-name>CmtWriteService</servlet-name>
     <url-pattern>/CmtWriteService</url-pattern>
  </servlet-mapping>
    
  <servlet>
     <servlet-name>CmtWriteServiceAjax</servlet-name>
     <display-name>CmtWriteServiceAjax</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.CmtWriteServiceAjax</servlet-class>
  </servlet>
  
  <servlet>
     <servlet-name>PostModifyService</servlet-name>
     <display-name>PostModifyService</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.PostModifyService</servlet-class>
  </servlet>
  
  <servlet>
     <servlet-name>BoardDeleteService</servlet-name>
     <display-name>BoardDeleteService</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.BoardDeleteService</servlet-class>
  </servlet>
  
    <servlet>
     <servlet-name>SendMessage</servlet-name>
     <display-name>SendMessage</display-name>
     <description></description>
     <servlet-class>com.smhrd.controller.SendMessage</servlet-class>
  </servlet>
    <servlet>
    	<servlet-name>ViewIncService</servlet-name>
    	<display-name>ViewIncService</display-name>
    	<description></description>
    	<servlet-class>com.smhrd.controller.ViewIncService</servlet-class>
    </servlet>
  
  <servlet-mapping>
     <servlet-name>BoardSelect</servlet-name>
     <url-pattern>/BoardSelect</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
     <servlet-name>BoardSelectService</servlet-name>
     <url-pattern>/BoardSelectService</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
     <servlet-name>UserInfoCheck</servlet-name>
     <url-pattern>/UserInfoCheck</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
     <servlet-name>UpdateService</servlet-name>
     <url-pattern>/UpdateService</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
     <servlet-name>UserPicService</servlet-name>
     <url-pattern>/UserPicService</url-pattern>
  </servlet-mapping>
  
      <servlet-mapping>
       <servlet-name>SupportUpdateService</servlet-name>
       <url-pattern>/SupportUpdateService</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
       <servlet-name>SupportDeleteService</servlet-name>
       <url-pattern>/SupportDeleteService</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
       <servlet-name>SubscribeService</servlet-name>
       <url-pattern>/SubscribeService</url-pattern>
    </servlet-mapping>
  
    <servlet-mapping>
     <servlet-name>CmtWriteServiceAjax</servlet-name>
     <url-pattern>/CmtWriteServiceAjax</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
     <servlet-name>PointUpService</servlet-name>
     <url-pattern>/PointUpService</url-pattern>
  </servlet-mapping>
  
      <servlet-mapping>
     <servlet-name>InfoUpdateService</servlet-name>
     <url-pattern>/InfoUpdateService</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
     <servlet-name>PostModifyService</servlet-name>
     <url-pattern>/PostModifyService</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
       <servlet-name>BoardDeleteService</servlet-name>
       <url-pattern>/BoardDeleteService</url-pattern>
    </servlet-mapping>
    
      <servlet-mapping>
     <servlet-name>SendMessage</servlet-name>
     <url-pattern>/SendMessage</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>LikeCheckService</servlet-name>
  	<url-pattern>/LikeCheckService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LikeInsertService</servlet-name>
  	<url-pattern>/LikeInsertService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LikeUpdate</servlet-name>
  	<url-pattern>/LikeUpdate</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>LikeCountService</servlet-name>
  	<url-pattern>/LikeCountService</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
  	<servlet-name>MessageSelectAll</servlet-name>
  	<url-pattern>/MessageSelectAll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>removeMessageService</servlet-name>
  	<url-pattern>/removeMessageService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewIncService</servlet-name>
  	<url-pattern>/ViewIncService</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>SubCheckService</servlet-name>
  	<url-pattern>/SubCheckService</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>