
/* 소개글 */
.gallery_info_div{
width: 65%;
padding-left: 35%;
padding-top: 10px;
}

/* 수정,추가 버튼 */
.gallery_info_pen {
    font-size: 25px;
    padding-left: 48%;
    padding-top: 3%;
}
.gallery_info_btn1{
    color: black;
}

/* 소개글 타이틀 가운데 정렬 */
h3{
	text-align : center;
}

    