/* 탭 3개*/
.class_name2{
    display: flex;
    width: 100%;
    justify-content: center;
    }
    
    .g_column{
        width: 10%;
        text-align: center;
        color: black;
      
    }



/*후원물품*/

.container1{
    width: 40%;
    height: 30%;
}


.support_div{
    padding: 20px;
    
}

.support_contents{
    padding : 20px;
    font-size : 15px;
}

.support_img>img{
    width:50%;
    height:auto;
}

.support_btn{
    float: right;
}



/*후원하기*/
.support_nick{
    padding: 20px;
}

.container2{
    display: flex;
    justify-content: center;
}



.support_checkbox1{
    margin: 12px 0 0 0;
}

.support_checkbox2{
    margin: 0 50px 0 50px;
}

.support_point_Charge{
    margin: 20px;
}


.support_final{
    
    display: flex;
    justify-content: space-evenly;
}

/* 현아 추가 */
.btn_sub{
	display: inline-block;
    font-size: 13px;
    font-weight: 400;
    color : rgba(14, 138, 41, 0.765);
    border : 1px solid;
	background-color : white;
	border-color:rgba(14, 138, 41, 0.765);
    border-radius: 5px;
    padding: 5px 7px;
    margin: 0;
}

.btn_sub:hover{
	color : white;
    border : 1px solid;
	background-color : rgba(14, 138, 41, 0.765);
	border-color:rgba(14, 138, 41, 0.765);
    border-radius: 5px;
}