
.subscrib_div{
    display: flex;
    justify-content: center;

}
.subscrib_img{
    width: 50px;
    height: 50px;    
}

.subscrib_img1{
	width: 50px;
    height: 50px;  
    border-radius: 50%;
}

.subscrib_img{
    margin: 0 12px 0 0;
}

.subscrib_nick{
    margin: 15px 12px 0 0;
}

.subscrib_btn{
    margin: 12px 0 0 0;
}

.subscrib_btn>button {
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    color : rgba(14, 138, 41, 0.765);
    border : 1px solid;
	background-color : white;
	border-color:rgba(14, 138, 41, 0.765);
    border-radius: 5px;
    padding: 5px 7px;
    margin: 0;
}

.btn {
	display: inline-block;
    font-size: 13px;
    font-weight: 400;
    color : rgba(14, 138, 41, 0.765);
    border : 1px solid;
	background-color : white;
	border-color:rgba(14, 138, 41, 0.765);
    border-radius: 5px;
    padding: 5px 7px;
    margin: 0;	
}
