
/*헤더퍼온거*/
.header_g{
    display: flex;   

}

.header_btn{
    width: 100%;
}



/* 탭 3개*/
.class_name2{
display: flex;
width: 100%;
justify-content: center;
}

.g_column{
    width: 10%;
    text-align: center;
    color: black;
  
}



/*순서대로 쌓이는 갤러리*/
.class_name4{
    display: flex;
    width: 85%;
    height: 350px;
    margin-left: 250px;
    flex-wrap: wrap;
}


.sub_img{
    width: 350px;
    height: 350px;
    object-fit: cover; 
    margin: 0 20px 20px 0 ;
 
}

.post_append{
    font-size: 2rem;
    color: black;
}

.post_append_btn{
    text-align: center;
    margin: 20px 0 0 0;
}

