<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardsMapper">

   <insert id="postWrite" parameterType="BoardsVO">
      insert into boards values(boards_seq.nextVal, #{board_type}, #{user_email},
      #{board_title}, #{board_content}, sysdate, #{board_view},
      #{board_pic})
   </insert>

   <select id="SubscriberSelectAll" resultType="BoardsVO">
      select * from boards where board_num is not null
   </select>

   <select id="postView" resultType="BoardsVO">
      select * from boards where board_num = #{board_num}
   </select>

   <select id="getBoardNick" resultType="JoinVO">
      select b.user_email, u.user_nick, b.board_num, b.board_type, b.board_title, b.board_content, b.board_date, b.board_view, b.board_pic from boards b, users u where b.user_email = u.user_email
   </select>

	<!-- 선택한 게시글 정보만 받기 -->
	<select id="selectedBoard" resultType="BoardsVO">
		select * from boards where board_num = #{board_num}
	</select>
	
	<!-- 해당 게시글 수정 -->
	<update id="postModify">
		update boards set board_title = #{board_title}, board_type=#{board_type}, board_content=#{board_content} where board_num=#{board_num}
		
	</update>
</mapper>