<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LikesMapper">
   <!-- namespace : mapper 구별 / id : 각 sql 구별 -->
   
   <!-- 좋아요 누르면 likes에 추가 -->
   
   <select id="likeCheck" parameterType="LikesVO" resultType="int">
	select count(*) from likes where board_num=#{board_num} and user_email=#{user_email}
   </select>
   
   <insert id="LikeAdd" parameterType="LikesVO">
   		insert into likes values(#{board_num}, #{user_email})
   </insert>
   
   <insert id="LikeDel" parameterType="LikesVO">
   		delete from likes where board_num=#{board_num} and user_email=#{user_email}
   </insert>
   
   
   <!-- 좋아요 수 count -->
   <select id="LikeCount" parameterType="int" resultType="int">
    select count(*) from likes where board_num=#{board_num}
   </select>
	
</mapper>