<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MessageMapper">
   <!-- namespace : mapper 구별 / id : 각 sql 구별 -->
   
   <select resultType="MessageVO" id="myMessage">
   select * from MESSAGES where receive_email = #{my_email} 
   </select>

   <!-- 선택 한 메세지 삭제_ajax 사용 -->
   <delete id="removeMessage">
   delete from MESSAGES where msg_num= #{msg_num} 
   </delete>
   
   <insert id="sendMessage" parameterType="com.smhrd.model.MessageVO">
		insert into messages values(messages_seq.nextVal, #{send_email}, #{receive_email},#{contents},sysdate )
   </insert>
   
</mapper>