<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
   <!-- namespace : mapper 구별 / id : 각 sql 구별 -->
   
   <!-- 회원가입  -->
   <insert id="join" parameterType="UserVO">
      insert into users values(#{user_email}, #{user_pw}, #{user_nick}, #{user_pic}, #{user_info} , #{user_point})
   </insert>
   
   <!-- 로그인 -->
   <select id="login" parameterType="UserVO" resultType="UserVO">
      select * from users where user_email=#{user_email} and user_pw=#{user_pw}
   </select>
   
</mapper>